*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(31, 32, 34, 0.7),rgba(31, 32, 34, 0.7)),url(pexels-alleksana-4186329.jpg);
    background-position: center;
    background-size: cover;
    position: relative; 
}
/* nav img{
    text-align: right;
    width: 100%;
    margin-top: 10%; */

.hello{
    padding-top: 20px;
    text-align: center;
    /* text-decoration: underline; */
    font-size: 20px;
    font-weight: bolder;
    color: #f44336;

}

.login{
    margin: auto;
    width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.9);
    padding: 80px 40px;
    margin-top: 50px;
    background: linear-gradient(top, #3c3c3c 0%, #222222 100%);
    background: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
}
h2{
    margin: 0 0 30px 0;
    padding: 10px;
    color: #efed40;
    text-align:center;
}
input{
    width: 100%;
    margin-bottom: 20px;
}
input[type=text], input[type=password]{
    border: none;
    outline: none;
    border: 2px #fff dotted;
    background: transparent;
    border-radius: 20px;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    text-align: center;
} 
::placeholder{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
input[type=submit]{
    border: none;
    outline: none;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    font-family: Arial;
    background: #ff267e;
    cursor: pointer;
    border-radius: 20px;
}
input[type=submit]:hover{
    background: #efed40;
    color: #262626;
}

a{
    color: #ebedf5;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    /* text-decoration: none; */
}
a:hover{
    background: rgb(224, 14, 14);
    
}


/* <!-------Footer------ --> */
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color:rgba(111, 82, 241, 0.7);
}
.futa{
    color: rgb(14, 1, 1);
    font-weight: 600;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 17px;
}
.futa h4{
    font-size: 20px;
    font-weight: bold;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fab{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

/* <!-- ------last------->  */